body {
  margin: 55px;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
}

header div {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 5px;
}

header div p {
margin-top: -15px;
font-size: 12px;
}

header .headerimages {
  margin-left: auto;
  justify-content: right;
  align-items: right;
}

header div img {
  flex-direction: column;
  flex-wrap: wrap;
  width: 40px;
  height: 45px;
  margin-right: 10px;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin: 0;
  margin-bottom: 5px;
}

header .blogtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin: 0;
}

.featuredsection h2 {
  font-family: 'Anton', sans-serif;

}

.featuredsection p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin-top: -25px;
  margin-bottom: -15px;
}

.printpic {
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  margin-left: auto;
  margin-bottom: 25px;
  font-size: 10px;
  width: fit-content;
}